@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TwitterChirpExtendedHeavy";
  src: url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap');
}
body {
  margin: 0;
  padding: 0;
  font-family:  "TwitterChirpExtendedHeavy";
  background-color: #000;
  color: #e7e9ea;
}
